{{ header }}
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-ticket"></i> {{ heading_title }}</h3>
            </div>
            <div class="panel-body">
                <form method="get" action="">
                    <input type="hidden" name="route" value="customer/ticket" />
                    <input type="hidden" name="user_token" value="{{ user_token }}" />
                    <div class="form-group">
                        <label>Ticket ID</label>
                        <input type="text" name="filter_ticket_id" value="{{ filter_ticket_id }}" placeholder="Enter Ticket ID" class="form-control" style="width:200px;display:inline-block;">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a href="index.php?route=customer/ticket&user_token={{ user_token }}" class="btn btn-default">Reset</a>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Subject</th>
                                <th>Category</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Date Added</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                                <tr>
                                    <td>{{ ticket.ticket_id }}</td>
                                    <td>{{ ticket.customer_id }}</td>
                                    <td>{{ ticket.customer_name }}</td>
                                    <td>{{ ticket.subject }}</td>
                                    <td>{{ ticket.category }}</td>
                                    <td>{{ ticket.message }}</td>
                                    <td>{{ ticket.status }}</td>
                                    <td>{{ ticket.date_added }}</td>
                                    <td>
                                        <a href="index.php?route=customer/ticket_view&user_token={{ user_token }}&ticket_id={{ ticket.ticket_id }}" class="btn btn-info"><i class="fa fa-eye"></i> View Tickets</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">No tickets found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}