{{ header }}


{#<div id="checkout-cart" class="container">#}
{#  <ul class="breadcrumb">#}
{#    {% for breadcrumb in breadcrumbs %}#}
{#    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#  {% if attention %}#}
{#  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}#}
{#    <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#  </div>#}
{#  {% endif %}#}
{#  {% if success %}#}
{#  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}#}
{#    <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#  </div>#}
{#  {% endif %}#}
{#  {% if error_warning %}#}
{#<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}#}
{#    <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#  </div>#}
{#  {% endif %}#}
{#  <div class="row">{{ column_left }}#}
{#    {% if column_left and column_right %}#}
{#    {% set class = 'col-sm-6' %}#}
{#    {% elseif column_left or column_right %}#}
{#    {% set class = 'col-sm-9' %}#}
{#    {% else %}#}
{#    {% set class = 'col-sm-12' %}#}
{#    {% endif %}#}
{#    <div id="content" class="{{ class }}">{{ content_top }}#}
{#      <h1>{{ heading_title }}#}
{#        {% if weight %}#}
{#        &nbsp;({{ weight }})#}
{#        {% endif %} </h1>#}
{#      <form action="{{ action }}" method="post" enctype="multipart/form-data">#}
{#        <div class="table-responsive">#}
{#          <table class="table table-bordered">#}
{#            <thead>#}
{#              <tr>#}
{#                <td class="text-center">{{ column_image }}</td>#}
{#                <td class="text-left">{{ column_name }}</td>#}
{#                <td class="text-left">{{ column_model }}</td>#}
{#                <td class="text-left">{{ column_quantity }}</td>#}
{#                <td class="text-right">{{ column_price }}</td>#}
{#                <td class="text-right">{{ column_total }}</td>#}
{#              </tr>#}
{#            </thead>#}
{#            <tbody>#}

{#            {% for product in products %}#}
{#            <tr>#}
{#              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>#}
{#              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}#}
{#                {% if product.option %}#}
{#                {% for option in product.option %} <br />#}
{#                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}#}
{#                {% endif %}#}
{#                {% if product.reward %} <br />#}
{#                <small>{{ product.reward }}</small> {% endif %}#}
{#                {% if product.recurring %} <br />#}
{#                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>#}
{#              <td class="text-left">{{ product.model }}</td>#}
{#              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">#}
{#                  <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />#}
{#                  <span class="input-group-btn">#}
{#                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>#}
{#                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>#}
{#                  </span></div></td>#}
{#              <td class="text-right">{{ product.price }}</td>#}
{#              <td class="text-right">{{ product.total }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#            {% for voucher in vouchers %}#}
{#            <tr>#}
{#              <td></td>#}
{#              <td class="text-left">{{ voucher.description }}</td>#}
{#              <td class="text-left"></td>#}
{#              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">#}
{#                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />#}
{#                  <span class="input-group-btn">#}
{#                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>#}
{#                  </span></div></td>#}
{#              <td class="text-right">{{ voucher.amount }}</td>#}
{#              <td class="text-right">{{ voucher.amount }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#              </tbody>#}

{#          </table>#}
{#        </div>#}
{#      </form>#}
{#      {% if modules %}#}
{#      <h2>{{ text_next }}</h2>#}
{#      <p>{{ text_next_choice }}</p>#}
{#      <div class="panel-group" id="accordion"> {% for module in modules %}#}
{#        {{ module }}#}
{#        {% endfor %} </div>#}
{#      {% endif %} <br />#}
{#      <div class="row">#}
{#        <div class="col-sm-4 col-sm-offset-8">#}
{#          <table class="table table-bordered">#}
{#            {% for total in totals %}#}
{#            <tr>#}
{#              <td class="text-right"><strong>{{ total.title }}:</strong></td>#}
{#              <td class="text-right">{{ total.text }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#          </table>#}
{#        </div>#}
{#      </div>#}
{#      <div class="buttons clearfix">#}
{#        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>#}
{#        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>#}
{#      </div>#}
{#      {{ content_bottom }}</div>#}
{#    {{ column_right }}</div>#}
{#</div>#}


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.price_list{
    display:flex;
    justify-content:space-between;
    font-size:16px;
}
.price_cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 340px;
    padding: 20px;
    box-shadow: 0px 0px 5px lightgray;
}

.price_cart h2{
    padding-bottom:5px;
    margin-bottom:5px;
    color:black;
    border-bottom:1px solid gray;
    font-size:20px;
}
	.product-list .table thead tr {
		display: grid;
		gap: 0;
		grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
		padding: 10px;
		margin: 8px 3px;
	}


	.product-list .table tbody tr {
		position: relative;
		top: -10px;
		box-shadow: 1px 1px 11px -6px !important;
		border-radius: 5px;
		margin: 15px 4px;
		display: block;
		display: grid;
		gap: 0px;
		grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
		padding: 15px;
	}

	.table-responsive .table tbody td.text-left:hover a {
		color: #000000;
	}


	.table-bordered > tbody > tr > td {
		border: none !important;
		vertical-align: middle !important;
	}

	.product-list .table > tbody > tr > td,
	.product-list .table > thead > tr > td {
		border: none;
		/*width: 20%;*/
		vertical-align: middle;
		font-weight: 800;
		color: #565656;
		font-size: 15px;


		align-items: center;
		display: flex;
		justify-content: start;
		align-items: center;
	}


	.total > tbody > tr > td,
	.total > thead > tr > td {
		border: none;

		vertical-align: middle;
		font-weight: 800;
		color: #565656;
		font-size: 15px;
		padding: 8px;

		align-items: center;

		justify-content: start;
		align-items: center;
		line-height: 40px;
	}


	.table-responsive .table tbody td.text-left a {
		font-weight: bold;
		color: #272727;
	}


	.cupancode .applycoupon {
		margin-left: 35px;
	}


	.applycoupon button {

		background-color: #953A93;
		color: white;
		width: 200px;
		height: 46px;
	}


	.product-list .row-one .text-aline h4 {
		margin-top: 20px;

	}


	.cart-container {
		width: 100%;

		padding: 20px;
		border-radius: 8px;

		margin-top: 50px;
	}


	.checkout-btn {
		width: 61%;
		background-color: #82268b;
		color: white;
		padding: 8px;
		text-align: center;
		border-radius: 5px;
		font-size: 15px;
		cursor: pointer;
		border: none;
		margin-left: 70px;
	}


	.couponmain .input-group {
		position: relative;
		display: block;
		border-collapse: separate;
	}

	.voucher .input-group {
		position: relative;
		display: block;
		border-collapse: separate;
	}


	.couponmain .input-group .form-control {

		width: 30%;
		margin-right: 20px;
	}

	.voucher .input-group .form-control {

		width: 30%;
		margin-right: 20px;
	}


	.product-list .row-one img {
		width: 30%;
		height: auto;
	}

	.btn:hover {
		color: #000000 !important;
		text-decoration: none;
		border-color: #82268b;
		background: #ffffff;
		border: 2px solid #82268b;
	}

	#button-coupon {
		padding: 8px 40px;
	}

	.btn {

		background: #82268b;
		border-color: #82268b;
		border: 2px solid #82268b;
	}


	.blueviolet {
		background-color: #82268b;
	}


	.control-quantity {
		padding: 11px;
	}


	input[type="text"] {
		padding: 13px;
		text-align: center;
	}

	.voucher {
		margin-top: 20px;
	}


	.panel {
		margin-bottom: 20px;
		background-color: #fff;
		border: 0 solid transparent;
		border-radius: 0;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	}


	@media(max-width: 1280px) {

		.control-quantity {
			padding: 11px !important;
		}

	}


	@media(max-width: 820px) {

		.table > tbody > tr > td {
			border: none;
			width: auto;
			vertical-align: middle;
			font-weight: 800;
			color: #565656;
			font-size: 15px;
		}

	}


	@media(max-width: 768px) {


		.product-list .table tbody tr {


			display: grid;
			gap: 0;
			grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
			padding: 0 !important;
			width: 102%;


		}

		.product-list .table thead tr {
			display: grid;
			gap: 0;
			grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
			padding: 10px;
			margin: 8px 3px;
			width: 102%;

		}

		.btn {

			padding: 8px 18px;
		}


		.couponmain .input-group .form-control {
			width: 48%;
			margin-right: 20px;
		}

		.voucher .input-group .form-control {
			width: 48%;
			margin-right: 20px;
		}

		.couponmain {
			margin-top: 20px;
		}

		#button-coupon {
			padding: 8px 30px;
			font-size: 12px;
		}

		#button-voucher {
			padding: 8px;
			font-size: 13px;
		}

		.padding-two {
			padding-left: 30px !important;
		}


	}


	@media(max-width: 426px) {

		.product-list .table > tbody > tr > td,
		.product-list .table > thead > tr > td {

			font-size: 12px;

		}

		.couponmain .input-group .form-control {
			width: 48%;
			margin-right: 20px;
		}


		.voucher .input-group .form-control {
			width: 48%;
			margin-right: 20px;
		}
	}


	@media(max-width: 330px) {
		#button-coupon {
			padding: 8px 22px;
			font-size: 12px;
		}

		.voucher .input-group .form-control {
			width: 100%;
			margin-right: 20px;
		}

		#button-voucher {
			padding: 8px;
			font-size: 13px;
			margin-top: 10px;
		}


	}


	@media(max-width: 995px) {

		.couponmain .input-group .form-control {
			width: 48%;
			margin-right: 20px;
		}

		.voucher .input-group .form-control {
			width: 48%;
			margin-right: 20px;
		}


		.btn {
			outline: none;
			padding: 8px 20px;
		}


	}


	@media(max-width: 1290px) {
		.btn {
			outline: none;
			padding: 8px 20px;
		}

	}
	.quantity_button{
    	display: flex;
        justify-content: center;
        align-items: center;
        width: 40px !important;
        height: 35px !important;
        background-color: #9c27b0;
        color: white;
        border: none;
        font-size: 18px;
        border-radius: 4px;
	}
	.quantity_group{
	    display:flex;
	}
	.cart_product_quantity{
	     width: 45px !important;
        height: 35px !important;
        padding:0px !important;
        font-size:14px !important;
	}
</style>


<div id="checkout-cart" class="container">

	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>

	{% if attention %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i>
			{{ attention }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success alert-dismissible">
			<i class="fa fa-check-circle"></i>
			{{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	{% if error_warning %}
		<div class="alert alert-danger alert-dismissible">
			<i class="fa fa-exclamation-circle"></i>
			{{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}

			{# <h2>{{ heading_title }}#}
			{#{% if weight %}#}
			{#&nbsp;({{ weight }})#}
			{#{% endif %}#}
			{#</h2> #}
			<div class='row'>
                <div class='col-sm-9'>
    
        			<form action="{{ action }}" method="post" enctype="multipart/form-data">
        
        				<div class="table-responsive product-list">
        
        					<table class="table">
        
        						<thead>
        
        							<tr>
        								<td class="text-center">{{ column_image }}</td>
        								<td class="text-left">{{ column_name }}</td>
        								{#<td class="text-left">{{ column_model }}</td>#}
        								<td class="text-left">{{ column_quantity }}</td>
        								<td class="text-left">{{ column_price }}</td>
        								<td class="text-left padding-two">sub-total</td>
        								<td class="text-left padding-two">Courier Charges</td>
        								<td class="text-left padding-two">Total</td>
        								<td class="text-right padding-two"></td>
        							</tr>
        						</thead>
        
        						<tbody>
        
        							{% for product in products %}
        
        								<tr>
        
        									<td class="text-center">
        										{% if product.thumb %}
        											<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a>
        										{% endif %}
        									</td>
        									<td class="text-left">
        										<a class="heading" href="{{ product.href }}">{{ product.name }}</a>
        										{% if not product.stock %}
        											<span class="text-danger">***</span>
        										{% endif %}
        
        										{% if product.option %}
        											{% for option in product.option %}
        												<br/>
        												<small>{{ option.name }}:
        													{{ option.value }}</small>
        											{% endfor %}
        										{% endif %}
        										{% if product.reward %}
        											<br/>
        											<small>{{ product.reward }}</small>
        										{% endif %}
        										{% if product.recurring %}
        											<br/>
        											<span class="label label-info">{{ text_recurring_item }}</span>
        											<small>{{ product.recurring }}</small>
        										{% endif %}
        									</td>
        
        									{#<td class="text-left heading-two">{{ product.model }}</td>#}
        									<td
        										class="text-left">
        										<form action="{{ action }}" method="post" class="update-quantity-form">
        											<div class="input-group quantity_group">
        											    <button type="button" class="checkout-qty-btn quantity_button" data-action="decrease" data-cart-id="{{ product.cart_id }}">-</button>
        												<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="control-quantity cart_product_quantity"/>
            											<button type="button" class="checkout-qty-btn quantity_button" data-action="increase" data-cart-id="{{ product.cart_id }}">+</button>
        											</div>
        										</form>
        
        									</td>
        
        									<td class="text-center">{{ product.price }}</td>
        
        									<td class="text-center">{{ product.total }}</td>
        									<td class="text-center"> {% if product.courier_charges == 0 %}
                                                                <span style="font-weight: bold;margin-left:5px;">₹0</span>
                                                                <span style="text-decoration: line-through; color: gray;">
                                                              {#₹{{ (product.courier_charges == 0 ? 80 : product.courier_charges)|number_format(0) }}#}
                                                            ₹80
                                                                </span>
                                                              {% else %}
                                                                <span style="font-weight: bold;">₹{{ product.courier_charges ?product.courier_charges: 80 }}</span>
                                                              {% endif %}</td>
        									<td class="text-center">₹{{ product.grand_total }}</td>
                                            <td class="text-center">
                                            	<span class="input-group-btn">
        									    	<button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
        										</span>
        									</td>
        								</tr>
        							{% endfor %}
        							{% for voucher in vouchers %}
        								<tr>
        									<td class="text-left">{{ voucher.description }}</td>
        									<td class="text-left"></td>
        									<td class="text-left">
        										<div class="input-group btn-block" style="max-width: 200px;">
        											<input type="text" name="" value="1" size="1" disabled="disabled" class="form-control"/>
        										</div>
        									</td>
        									<td class="text-right">{{ voucher.amount }}</td>
        									<td class="text-right">{{ voucher.amount }}</td>
        								</tr>
        							{% endfor %}
        						</tbody>
        					</table>
        				</div>
        
        			</form>
                </div>
                <div class='col-sm-3'>
                    <div class='price_cart'>
    					<h2 >Price Details</h2>
    					<div class='price_list'>
    					    <span>Sub Total</span>
    					    <span>{{sub_total}}</span>
    					</div>
    					<div class='price_list'>
    					    <span>Courier Charges</span>
    					    <span>₹{{courierCharges}}</span>
    					</div>
    					<div class='price_list'>
    					    <span>Total</span>
    					    <span>₹{{grand_total}}</span>
    					</div>
                    </div>
                </div>
            </div>

			<div class="row">
				<div class="col-sm-8">
					{% if modules %}
						{# <div class="panel"> #}
						{% for module in modules %}
							{{ module }}
						{% endfor %}
						{# </div> #}
					{% endif %}
				</div>

				<div class="col-sm-4 ">
					{#<table class="table total">#}
						{#{% for total in totals %}#}

						{#	<tr>#}
						{#		<td class="text-right">#}

						{#			<strong>{{ total.title }}:</strong>#}

						{#		</td>#}
						{#		<td class="text-right">{{ total.text }}</td>#}
						{#	</tr>#}

						{#{% endfor %}#}
					{#</table>#}
					
					<div
						class="buttons">
						{# <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div> #}
						<div class="pull-right">
							<a href="{{ checkout }}" class="btn checkout-btn">{{ button_checkout }}</a>
						</div>
					</div>
				</div>
			</div>
			<br/>
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>


<script>
  // Handle + / - button clicks
  document.querySelectorAll(".quantity_button").forEach(function (btn) {
    btn.addEventListener("click", function () {
      const action = this.dataset.action;
      const cartId = this.dataset.cartId;

      // Find the related input by cartId
      const input = document.querySelector(`input[name="quantity[${cartId}]"]`);

      if (!input) return;

      let value = parseInt(input.value) || 1;

      if (action === "increase") {
        value += 1;
      } else if (action === "decrease" && value > 1) {
        value -= 1;
      }

      input.value = value;

      // Submit the closest form
      input.closest("form").submit();
    });
  });

  // Also submit on manual quantity change (input blur or manual change)
  document.querySelectorAll(".control-quantity").forEach(function (input) {
    input.addEventListener("change", function () {
      this.closest("form").submit();
    });
  });
</script>

 <script>
//   document.querySelectorAll(".control-quantity").forEach(function (blur) {
//     input.addEventListener("change", function () {
//       this.closest("form").submit();
//     });
//   });
</script>


 <script>
//   const limit = 4;
//   const headings = document.querySelectorAll(".heading");

//   headings.forEach((h) => {
//     const fullText = h.innerText;
//     const words = fullText.split(" ");
//     if (words.length > limit) {
//       h.innerText = words.slice(0, limit).join(" ") + "...";
//       h.title = fullText;
//     }
//   });
</script>

<script>
  const qtyInputs = document.querySelectorAll(".cart_product_quantity");

  qtyInputs.forEach((qtyInput) => {
    qtyInput.addEventListener("input", function () {
      let value = qtyInput.value;

      // Remove non-digit characters
      value = value.replace(/\D/g, '');

      // Remove leading zeros
      value = value.replace(/^0+/, '');

      // Set default to "1" if cleared
      if (value === "") value = "1";

      qtyInput.value = value;
    });

    qtyInput.addEventListener("blur", function () {
      if (qtyInput.value.trim() === "") {
        qtyInput.value = "1";
      }
    });
  });
</script>
{{ footer }}
