
{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
{#====  Variables url parameter ==== #}
{% if url_thumbgallery %} {% set thumbgallery = url_thumbgallery %}
{% else %} {% set thumbgallery = soconfig.get_settings('card_gallery') %}{% endif %}

{% if url_cartinfo %} {% set cartinfo = url_cartinfo %}
{% else %} {% set cartinfo = soconfig.get_settings('desktop_addcart_position') %}{% endif %}


{#==== filters panel Top==== #}
<div class="product-filter product-filter-top filters-panel">
  <div class="row">
		<div class="col-sm-5 view-mode">
			{% set category_route = soconfig.get_route() %}
			
			{% if (column_left or column_right ) and category_route =='product/category' %}
				{% if url_asideType %} {% set btn_canvas = url_asideType %}
				{% else %}{% set btn_canvas = soconfig.get_settings('catalog_col_type') %}
				{% endif %}

				{% set class_btn_canvas = (btn_canvas =='off_canvas') ? '' : 'hidden-lg hidden-md' %}
				<a href="javascript:void(0)" class="open-sidebar {{class_btn_canvas}}"><i class="fa fa-bars"></i>{{ text_sidebar }}</a>
				<div class="sidebar-overlay "></div>
			{% endif %}
			{#<div class="list-view">#}
			{#	<div class="btn btn-gridview">{{text_gridview}}</div>#}
			{#	<button type="button" id="grid-view-2" class="btn btn-view hidden-sm hidden-xs">2</button>#}
			{#  	<button type="button" id="grid-view-3" class="btn btn-view hidden-sm hidden-xs ">3</button>#}
			{#  	<button type="button" id="grid-view-4" class="btn btn-view hidden-sm hidden-xs">4</button>#}
			{#  	<button type="button" id="grid-view-5" class="btn btn-view hidden-sm hidden-xs">5</button>#}
			{#	<button type="button" id="grid-view" class="btn btn-default grid hidden-lg hidden-md" title="{{ button_grid }}"><i class="fa fa-th-large"></i></button>#}
			{#	<button type="button" id="list-view" class="btn btn-default list " title="{{ button_list }}"><i class="fa fa-bars"></i></button>#}
			{#	<button type="button" id="table-view" class="btn btn-view"><i class="fa fa-table" aria-hidden="true"></i></button>#}
				
			{#</div>#}
		</div>
		

		<div class="short-by-show form-inline text-right col-md-7 col-sm-6 col-xs-12">
			<div class="form-group short-by">
				<label class="control-label" for="input-sort">{{ text_sort }}</label>
				<select id="input-sort" class="form-control" onchange="location = this.value;">
					
					{% for sorts in sorts %}
					{% if sorts.value == '%s-%s'|format(sort, order) %}
						<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
					{% else %}
					
					<option value="{{ sorts.href }}">{{ sorts.text }}</option>
					
					{% endif %}
					{% endfor %}
				
				</select>
			</div>
			{#<div class="form-group">#}
			{#	<label class="control-label" for="input-limit">{{ text_limit }}</label>#}
			{#	<select id="input-limit" class="form-control" onchange="location = this.value;">#}
			{#		{% for limits in limits %}#}
			{#		{% if limits.value == limit %}#}
			{#		<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
			{#		{% else %}#}
			{#		<option value="{{ limits.href }}">{{ limits.text }}</option>#}
			{#		{% endif %}#}
			{#		{% endfor %}#}
			{#	</select>#}
			{#</div>#}
			<div class="form-group product-compare hidden-sm hidden-xs"><a href="{{ compare }}" id="compare-total" class="btn btn-default">{{ text_compare }}</a></div>
		</div> 
	
  </div>
</div>
{#==== Product List|Grid ==== #}

<div class="products-list nopadding-xs">
  {% for product in products %}
  <div class="product-layout">
    <div class="product-item-container">

      <!-- Left Gallery Thumbnails -->
      {# {% if thumbgallery and product.image_galleries %}
      <div class="product-card__gallery product-card__left">
        <div class="item-img thumb-active" data-src="{{product.first_gallery['thumb']}}">
          <img class="lazyload" data-sizes="auto"
               src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-src="{{product.first_gallery['cart']}}"
               alt="{{ product.name }}">
        </div>
        {% set total_gallery = 2 %}
        {% for number_gallery,image_gallery in product.image_galleries %}
          {% if number_gallery < total_gallery %}
          <div class="item-img" data-src="{{image_gallery.thumb}}">
            <img class="lazyload" data-sizes="auto"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="{{image_gallery.cart}}"
                 alt="{{ product.name }}">
          </div>
          {% endif %}
        {% endfor %} #}
      {# </div>
      {% endif %} #}


      <!-- Product Image -->
      <div class="product-image-container hover-slide">
        <a href="{{ product.href }}" title="{{ product.name }}">
          <div class="image-slider">
            <!-- Main image -->
            <img data-sizes="auto"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="{{ product.thumb }}"
                 alt="{{ product.name }}"
                 class="lazyload img-responsive"/>
                 
            <!-- Gallery images -->
            {% if product.image_galleries %}
              {% for number_gallery, image_gallery in product.image_galleries %}
                <img class="lazyload img-responsive"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ image_gallery.thumb }}"
                     alt="{{ product.name }}" />
              {% endfor %}
            {% endif %}
          </div>
        </a>
		 <!-- Wishlist + Compare (Right Top) -->
        <div class="button-group cartinfo--right">
          {% if soconfig.get_settings('desktop_wishlist_status') %}
          <button class="wishlist btn-button" type="button" title="{{ button_wishlist }}"
                  onclick="wishlist.add('{{ product.product_id }}');">
            <i class="fa fa-heart"></i>
          </button>
          {% endif %}
          {% if soconfig.get_settings('desktop_Compare_status') %}
          <button class="compare btn-button" type="button" title="{{ button_compare }}"
                  onclick="compare.add('{{ product.product_id }}');">
            <i class="fa fa-random"></i>
          </button>
          {% endif %}
        </div>

        <!-- Quickview (Center Overlay) -->
        {# {% if soconfig.get_settings('quick_status') %}
        <a class="quickview iframe-link visible-lg btn-button"
           title="{{ objlang.get('text_quickview')}}"
           data-fancybox-type="iframe"
           href="{{ product.href_quickview }}">
          <i class="fa fa-search"></i>
        </a>
        {% endif %} #}

        <!-- Hover Expand Info Panel -->
        <div class="product-info-panel">
   <div class="pname-logo-wrap">
  <a href="{{ product.href }}" class="pname-text" title="{{ product.name }}">
    {{ product.name|slice(0, 25) }}{% if product.name|length > 25 %}...{% endif %}
  </a>
{% if product.ipshopy_assured %}
 <img src="image/catalog/IPshopy%20logo1.png" alt="Logo" class="product-logo" style="width: 60px; height: 20px;">
        {% endif %}
			</div>

        <div class="price">
  {% if not product.special %}
    <span class="price-new">{{ product.price }}</span>
  {% else %}
    <span class="price-new">{{ product.special }}</span>
    <span class="price-old">{{ product.price }}</span>

   {% if soconfig.get_settings('discount_status') %}
  <span class="label-product-label-sale">
    {{ product.discount }} off
  </span>
{% endif %}

  {% endif %}
</div>



          <!-- Sizes (show on hover) -->
          {% if product.sizes is defined and product.sizes|length %}
  <div class="product-sizes">
    <strong>Size:</strong>
    {% for size in product.sizes %}
      <span class="product-sizes-label-default">{{ size }}</span>
    {% endfor %}
  </div>
{% endif %}

          <!-- Add to Cart (show on hover) -->
         <!-- Add to Cart (show on hover) -->
{% if soconfig.get_settings('desktop_addcart_status') %}
  {% if product.quantity > 0 %}
      <button class="addToCart btn-button" type="button"
              title="{{ button_cart }}"
              onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
        <i class="fa fa-shopping-cart"></i>
        <span>{{ button_cart }}</span>
      </button>
  {% else %}
    
<div class="out-of-stock" style="color: red;">Out of Stock</div>    
 
  {% endif %}
{% endif %}

        </div>
      </div>

      
    </div>
  </div>
  {% endfor %}
</div>



{#==== filters panel Bottom==== #}
<div class="product-filter product-filter-bottom filters-panel">
	<div class="row">
		<div class="col-sm-6 text-left">{{ pagination }}</div>
		<div class="col-sm-6 text-right">{{ results }}</div>
	</div>
</div>

<script type="text/javascript"><!--
reinitView();

function reinitView() {

  // Default view grid-5 save in localstorage
  localStorage.setItem('listview', 'grid-5');
  
  // Remove bootstrap related options
  $('#list-view').remove();
  $('#table-view').remove();
  $('#grid-view-1').remove();

  $('.products-category .product-layout').attr('class', 'product-layout product-grid grid-5');

}
//--></script>




<style>
.pname-logo-wrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

.pname-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #111;
    text-decoration: none;
}

.product-logo {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    object-fit: contain;
}


.product-image-container {
  position: relative;
}

.product-image-container .button-group.cartinfo--right {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.product-image-container:hover .button-group.cartinfo--right {
  opacity: 1;
  transform: translateY(0);
}
.product-image-container .button-group.cartinfo--right button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #953a93;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.product-image-container .button-group.cartinfo--right button:hover {
  background: #953a93;
}
{# 
.product-image-container .quickview {
    border: none;
    padding: 0;
    background-color: #953A93;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 60px;
    margin-top: 0px;
    margin-left: -16px;
    text-align: center;
    font-size: 32px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.product-image-container:hover .quickview {
  opacity: 1;
}

.product-image-container .quickview:hover {
  background: #953a93;
} #}


.products-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(225px, 1fr));
    gap: 10px;
}

@media(max-width:1199px){.products-list{grid-template-columns:repeat(4,1fr)}}
@media(max-width:991px){.products-list{grid-template-columns:repeat(3,1fr)}}
@media(max-width:767px){.products-list{grid-template-columns:repeat(2,1fr)}}
@media(max-width:480px){.products-list{grid-template-columns:1fr}}


.product-item-container {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
height: 225px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.product-item-container:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
}

.product-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.product-info-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  background: rgba(255,255,255,0.96);
  padding: 10px;
  transition: transform 0.35s ease;
  transform: translateY(calc(100% - 65px));
}

.product-info-panel .pname {
  margin-bottom: 8px;
  font-size: 14px;
}
.product-info-panel .pname a {
  text-decoration: none;
  color: #333;
}
.product-info-panel .price {
  font-size: 13px;
  margin-bottom:0;
  font-weight: 600;
}
.product-info-panel .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 4px;
  font-weight: 400;
}
.label-product-label-sale {
  display: inline-block;
  padding: 2px 6px;
  color: #0c9625;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}
.product-item-container {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  height: 300px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-image-container {
  height: 100%;
}

.product-image-container img {
  width: 100%;

  object-fit: cover;
  display: block;
}

.product-info-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.96);
  padding: 10px;
  transition: all 0.35s ease;
}

/* Initially hide sizes and add to cart */
.product-sizes,
.addToCart {
  opacity: 0;
  height: 0;
  margin: 0;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Show everything on hover */
.product-item-container:hover .product-info-panel {
  transform: translateY(-50%);
  height: auto;
}

.product-item-container:hover .product-sizes,
.product-item-container:hover .addToCart {
  opacity: 1;
  height: auto;
  margin-top: 10px;
}

/* Adjust spacing for initial view */
.pname-logo-wrap {
  margin-bottom: 5px;
}

.price {
  margin: 0;
}
.product-sizes,
.addToCart {
  display: none;
  margin-top: 5px;
}

.product-item-container:hover .product-info-panel {
  transform: translateY(0%);
}
.product-item-container:hover .product-sizes,
.product-item-container:hover .addToCart {
  display: block;
}

.product-sizes .product-sizes-label-default {
   padding: 3px 6px; 
    font-size: 12px;
    color: #3f3f3fff;
    background: none;
    cursor: pointer;
}

.addToCart {
  width: 100%;
  background: #953a93;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.addToCart:hover {
  background: #953a93;
}


.hover-slide {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image-slider img {
    min-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Animation for continuous cycling after hover */
.hover-slide:hover .image-slider {
    animation: slideLoop 8s infinite;
    animation-delay: 0.2s;
}

@keyframes slideLoop {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0); }
}
</style>
