    <div class="container-fluid" id="mg-menu">
        <div class="row no-gutters">
            <div class="col-12 no-gutters">
                <ul class="nav nav-pills" id="config">
                    <li><a href="#settings" data-toggle="tab" title="{{ tab_settings }}" >{{ tab_settings }}</a></li>
                    <li><a href="#cron" data-toggle="tab" title="{{ tab_cron }}" >{{ tab_cron }}</a></li>
                    <li><a href="#feeds" data-toggle="tab" title="{{ tab_xml_feeds }}" >{{ tab_xml_feeds }}</a></li>
                    <li><a href="#systems" data-toggle="tab" title="{{ tab_adverts }}" >{{ tab_adverts }}</a></li>
                    <li><a href="#support" data-toggle="tab" title="{{ tab_support }}" >{{ tab_support }}</a></li>
                   <!-- <li><a href="#license" data-toggle="tab" title="{{ tab_license }}" >{{ tab_license }}</a></li> -->
                </ul>
                <!--  Menu right free arena START  -->
                    <div class="col-2 pull-right">
                    </div>
                <!--  Menu right free arena END  -->
            </div>
        </div>
    </div>