  <div class="container-fluid no-gutters" id="about-mergado">
    <div class="panel panel-default mg-block">
      <div class="panel-body">
        <center>
          <div id="mergado-home-image">
            <img src="{{ infographics_url }}" alt="mergado infographics">
          </div>
          <h2>{{ home_heading }}</h2>
          <p>{{ home_desc1 }} <br/> {{ home_desc2 }}</p>
          <a href="javascript:void(0);" onclick="switchTab('settings')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_settings }}">{{ tab_settings }}</a>
          <a href="javascript:void(0);" onclick="switchTab('cron')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_cron }}">{{ tab_cron }}</a>
          <a href="javascript:void(0);" onclick="switchTab('feeds')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_feeds }}">{{ tab_xml_feeds  }}</a>
          <a href="javascript:void(0);" onclick="switchTab('systems')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_adverts }}">{{ tab_adverts }}</a>
          <a href="javascript:void(0);" onclick="switchTab('support')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_support }}">{{ tab_support }}</a>
          <a href="javascript:void(0);" onclick="switchTab('news')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_news }}">{{ tab_news }}</a>
          <a href="javascript:void(0);" onclick="switchTab('license')" class="btn btn-default mg-btn mg-gray" data-original-title="{{ tab_license }}">{{ tab_license }}</a>
        </center>
      </div>
    </div>
  </div>