  <div class="container-fluid" id="mg-header">
    <div class="row no-gutters">
        <div class="col-12 no-gutters">
          <a href="{{ mergado_pack_url }}" class="mg-logo-pack" target="_blank"><img src="{{ logo_pack_url }}" width="275" alt="{{ mergado }}" title="{{ mergado }}"></a>
          <div class="pull-right mg-buttons">
              <a href="{{ register_url }}" class="btn btn-default mg-btn mg-green" data-original-title="{{ register_btn }}" target="_blank">{{ register_btn }}</a>
              <a href="{{ login_url }}" class="btn btn-default mg-btn mg-light-green no-margins" data-original-title="{{ sign_in_btn }}" target="_blank">{{ sign_in_btn }}</a>
          </div>
          <a href="{{ mergado_url }}" class="mg-logo pull-right" target="_blank"><img src="{{ logo_url }}" alt="{{ mergado }}" width="160" title="{{ mergado }}"></a>
        </div>
    </div>
  </div>