    <div class="container-fluid" id="mg-menu">
        <div class="row no-gutters">
            <div class="col-12 no-gutters">
                <h2>{{ menu_heading }}</h2>
                <ul class="nav nav-pills" id="config">
                    <li><a href="#settings" data-toggle="tab" title="{{ tab_settings }}" >{{ tab_settings }}</a></li>
                    <li><a href="#cron" data-toggle="tab" title="{{ tab_cron }}" >{{ tab_cron }}</a></li>
                    <li><a href="#feeds" data-toggle="tab" title="{{ tab_xml_feeds }}" >{{ tab_xml_feeds }}</a></li>
                    <li><a href="#systems" data-toggle="tab" title="{{ tab_adverts }}" >{{ tab_adverts }}</a></li>
                    <li><a href="#support" data-toggle="tab" title="{{ tab_support }}" >{{ tab_support }}</a></li>
                    <li><a href="#news" data-toggle="tab" title="{{ tab_news }}" >{{ tab_news }}</a></li>
                    <li><a href="#license" data-toggle="tab" title="{{ tab_license }}" >{{ tab_license }}</a></li>
                </ul>

            </div>
        </div>
    </div>