
{{ header }}
    <div id="content">
         {#{{ featured_categories }}#}
         {#{{popular_brands}}#}
         
        {{categoriesList}}
        {{ content_home }}
        
        {{todays_deals}}
        
        {{ladies_group}}
        {{grocery}}
        {#{{bedsheets}}#}
        {#{{trackpants}}#}
        {#{{medium_banners}}#}
        {{popular_brands}}
         <div class="category-card-row">
            {{category_card_1}}
            {{category_card_2}}
        </div>
    </div>
    {{category_group2}}

{{ footer }}