{{ header }}

    <div id="content" class="{{ class }}">
        {{ content_home }}
        {{ content_top }}
        {{categoriesList}}
        
            {{brand_card}}

        {#{{trackpants}}#}
        {#<div style='display:grid; grid-template-columns:1fr 1fr 1fr; gap:20px; margin-inline:25px;'>#}
        {#    {{tripleProductkurti}}#}
        {#    {{tripleProductwomenjockeytop}}#}
        {#    {{tripleProductwomenescarf}}#}
        {#</div>#}
        {{mensShoes}}
        {{umbrella}}
        {{grocery}}
        {{medium_banners}}
        {#{{bedsheets}}#}
        {{water_bottle}}
        {{electronic}}
        <div class="category-card-row">
          {{ category_card_1 }}
          {{ category_card_2 }}
          {{ category_card_3}}
          {{ category_card_4}}
        </div>
        {{ large_banners}}
        
        {{kitchen_dining}}
        {{ content_bottom }}
        {{categories_list.Beauty}}
        {{categories_list.electronics}}
        
        {{category_group2}}
        {{popular_brands}}


        {{ladies_group}}
        
    </div>
{{ footer }}